rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Default deny
    match /{document=**} {
      allow read, write: if false;
    }

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function incoming() {
      return request.resource.data;
    }

    match /albums/{albumId} {
      allow create: if isSignedIn() && isOwner(incoming().ownerId);
      allow read, update, delete: if isSignedIn() && isOwner(resource.data.ownerId);
    }

    match /photos/{photoId} {
      allow create: if isSignedIn() && 
                    isOwner(incoming().userId) && 
                    get(/databases/$(database)/documents/albums/$(incoming().albumId)).data.ownerId == request.auth.uid;
      
      allow read, update, delete: if isSignedIn() && isOwner(resource.data.userId);
    }

    match /users/{userId} {
      allow read: if isSignedIn();
      allow write: if isSignedIn() && isOwner(userId);
    }
  }
}
